---
layout: default
title : Publications
navbar_title: Publications
background_image: "/assets/images/photos/IMG_7435_stitchwm.jpg"
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---
<h2>Publications</h2>
<!-- Cover Image container -->
<div class="row no-gutters mt-3">
    <div class="col-12 col-md-12 col-lg-10">
        <div class="d-flex flex-wrap justify-content-between gap-2">
            <a href="/assets/images/covers/cover_PCE.jpg" target="_blank">
            <img src="/assets/images/covers/cover_PCE150.jpg" alt="PCE Cover" class="rounded-sm img-fluid small-img"> </a>
            <a href="/assets/images/covers/cover_blattgefluster2.jpg" target="_blank">
            <img src="/assets/images/covers/cover_blattgefluster2150.jpg" alt="Blattgefluster" class="rounded-sm img-fluid small-img"> </a>
            <a href="/assets/images/covers/cover_elife.jpg" target="_blank">
            <img src="/assets/images/covers/cover_elife150.jpg" alt="elife" class="rounded-sm img-fluid small-img"></a>
            <a href="/assets/images/covers/cover_PULS.jpg" target="_blank">
            <img src="/assets/images/covers/cover_PULS150.jpg" alt="PULSCE" class="rounded-sm img-fluid small-img"></a>
            <a href="/assets/images/covers/cover_pflanzenforschung2.jpg" target="_blank">
            <img src="/assets/images/covers/cover_pflanzenforschung2150.jpg" alt="Pflanzenforschung" class="rounded-sm img-fluid small-img"></a>
            <a href="/assets/images/covers/cover_mpgpress2.jpg" target="_blank">
            <img src="/assets/images/covers/cover_mpgpress2150.jpg" alt="MPG_Press" class="rounded-sm img-fluid small-img"></a>
            <a href="/assets/images/covers/cover_plossmall.jpg" target="_blank">
            <img src="/assets/images/covers/cover_plossmall150.jpg" alt="PLOSOne" class="rounded-sm img-fluid small-img"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-10">
      <hr />
        <blockquote>
            For a complete list, go to 
            <a href="https://scholar.google.de/citations?user=JzVuBk4AAAAJ&hl=de" target="_blank">
                <i class="fab fa-google"></i> Google Scholar</a> or 
            <a href="https://www.researchgate.net/profile/Arne-Weinhold" target="_blank">
                <i class="fa-brands fa-researchgate"></i> ResearchGate</a>.
        </blockquote>
    </div>
</div>
<style>
/* Default sizes for larger screens */
.small-img {
    height: 105px;
    width: auto;
    margin: 3px;
}

/* Smaller sizes for screens below 576px (Bootstrap's xs breakpoint) */
@media (max-width: 576px) {
    .small-img {
        height: 75px; /* Adjust as needed */
        margin: 2px;
    }
}
</style>
  


{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h3 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h3>
        <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>
