---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---
<blockquote>
    For a complete list, try <a href="https://scholar.google.de/citations?user=JzVuBk4AAAAJ&hl=de" target="_blank">
    <i class="fab fa-google"></i> Google Scholar
</a> or 
  <a href="https://www.researchgate.net/profile/Arne-Weinhold " target="_blank">
    <i class="fa-brands fa-researchgate"></i> ResearchGate
</a>.
</blockquote>

<!-- Cover Image container -->
<div class="row no-gutters mt-3">
    <div class="col-12 col-md-12 col-lg-9">
        <div class="d-flex flex-wrap justify-content-between gap-2">
            <img src="/assets/images/covers/cover_PCE.jpg" alt="Image 1" class="rounded-sm img-fluid small-img">
            <img src="/assets/images/covers/cover_PULS.jpg" alt="Image 2" class="rounded-sm img-fluid small-img">
            <img src="/assets/images/covers/cover_elife.jpg" alt="Image 3" class="rounded-sm img-fluid small-img">
            <img src="/assets/images/covers/cover_plos.jpg" alt="Image 3" class="rounded-sm img-fluid small-img">
            <img src="/assets/images/covers/cover_pflanzenforschung.jpg" alt="Image 3" class="rounded-sm img-fluid small-img">
            <img src="/assets/images/covers/cover_mpgpress.jpg" alt="Image 3" class="rounded-sm img-fluid small-img">
        </div>
    </div>
</div>

<style>
/* Default sizes for larger screens */
.small-img {
    height: 110px;
    width: auto;
}

/* Smaller sizes for screens below 576px (Bootstrap's xs breakpoint) */
@media (max-width: 576px) {
    .small-img {
        height: 80px; /* Adjust as needed */
    }
}
</style>



{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>
