@charset "utf-8";
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    font-weight: 400;
}

.navbar {
    opacity: 0.95;
}
/* Default font size for navbar name */
.navbar-brand {
    font-size: 1.25em;
}

/* Smaller font size on small screens */
@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1em;
    }
}

.inline-badge {
    width: 32px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
    margin: 8px; 
}

div.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

/* Default sizes for larger screens */
.logo-img {
    margin: 8px; /* Adds space on all sides */
    height: 48px;
    width: auto;
}

/* Smaller sizes for screens below 576px (Bootstrap's xs breakpoint) */
@media (max-width: 576px) {
    .logo-img {
        height: 32px; /* Adjust as needed */
    }
}

.badge-publication {
    font-size: 100%;
}

/*.email-text {
    font-family: Courier, monospace;
}*/
.footer .text-muted {
    font-size: 14px; /* Adjust as needed */
}

