<div class="row">
   <div class="col">
         <div class="card border-0 shadow-sm bg-white rounded-lg">
             <div class="card-body p-3 p-md-4">
                <div class="row">
                    <div class="col">
                          {% if site.data.profile.portrait_url %}
                        <!-- When the screen is wider than md, float the portrait on the right -->
                        <div class="figure float-right ml-4 d-none d-md-block">
                            <img 
                                src="{{ site.data.profile.portrait_url | relative_url }}" 
                                class="figure-img img-fluid img-thumbnail rounded-circle" 
                                style="height: 220px;"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="{{ site.data.profile.portrait_caption }}">
                        </div>
                        {% endif %}

                        <div class="d-flex flex-column">
                            <div class="h2 font-weight-normal">
                                {{ site.data.profile.primary_name }} <small>{{ site.data.profile.secondary_name }}</small>
                            </div>
                            {% if site.data.profile.portrait_url %}
                            <div class="d-md-none mt-2">
                                <a target="_blank" href="{{ site.data.profile.portrait_url | relative_url }}">
                                    <img src="{{ site.data.profile.portrait_url | relative_url }}" class="rounded-circle" style="height: 150px;" alt="Portrait">
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="text-profile-position">
                            {% for position in site.data.profile.positions %}
                            {% if position.logo -%}
                            <img src="{{ position.logo | relative_url }}" alt="Logo" class="inline-badge"/>
                            {%- endif %}
                            {{ position.name }}<br/>
                            {% endfor %}
                        </div>
                        <div class="text-profile-bio mt-3" {% if site.data.profile.short_bio_text_justify %}style="text-align: justify;"{% endif %}>
                            {{ site.data.profile.short_bio }}
                        </div>
                       <!--  {% if site.data.profile.cv_link %} -->
                        <!--     <a target="_blank" href="{{ site.data.profile.cv_link | relative_url }}"><i class="fas fa-file-alt"></i> Curriculum Vitae</a> <br/> -->
                       <!--  {% endif %} -->
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>


