{% assign item = include.item %}
<div class="d-none d-md-block">
    <div class="row no-gutters {% unless include.hide_bottom_border %}border-bottom{% endunless %} border-gray">
        <div class="col-md-3 col-xl-2 mb-md-0 p-md-3">
            {%- if item.cover -%}
            <img data-src="{{ item.cover | relative_url }}" alt="{{ item.title }}" class="lazy w-100 rounded-lg" src="{{ '/assets/images/empty_300x200.png' | relative_url }}">
            {%- else -%}
            <svg class="bubble-visual-hash lazy w-100 rounded-lg" data-bubble-visual-hash="{{ item.id }}" viewBox="0 0 300 200"></svg>
            {%- endif -%}
        </div>
        <div class="col-md-9 col-xl-10 p-3 pl-md-0">
            <h6 class="mt-0 mb-1">{{ item.title }}</h6>
            <p class="mt-0 mb-0">{% include widgets/author_list.html authors=item.authors %}</p>
            <p class="mt-0 mb-0">{{item.pub_pre}}<i><strong>{{ item.pub }}</strong></i>{{ item.pub_post }} <b>{{ item.pub_date }}</b> <small>{{ item.pub_last }}</small>
                {% if item.dimensions %}
                <span style="display: inline-block; margin-left: 10px; margin-right: 10px; vertical-align: text-bottom;">
                <span class="__dimensions_badge_embed__" data-doi="{{ item.dimensions | replace:'https://doi.org/', '' }}" data-style="small_rectangle"></span>
                </span>
                {% endif %}
            </p>
            <p class="mt-0 mb-0 small text-secondary">{{ item.abstract }}</p>
            
                                <p class="pb-0 mb-0 lh-125 text-muted abstract-links">
                                {% for link in item.links %}
                                {% assign key = link[0] %}
                                {% assign url = link[1] %}

                                {% if key == "pdf" %}
                                 <a target="_blank" href="{{ url }}" style="margin-right: 5px;">
                                 <i class="fa-solid fa-file-pdf" style="color:inherit;"></i>
                                 </a>
                                       {% elsif key == "doi" %}
                                       <a target="_blank" href="{{ url }}" style="margin-right: 5px;">
                                       <i class="ai ai-doi" style="font-size: 1.2em; color: inherit;"></i>
                                        </a>
                                 {% else %}
                                  <a target="_blank" href="{{ url }}" style="margin-right: 5px;">[{{ key }}]</a>
                                 {% endif %}
                                  {% endfor %}
                                </p>

        </div>
    </div>
</div>

<div class="row no-gutters d-md-none rounded-lg {% unless include.hide_bottom_border %}border-bottom{% endunless %} border-gray {% if include.first %}rounded-top{% endif %} {% if include.last %}rounded-bottom{% endif %} {% if item.cover %}lazy{% endif %}" data-src="{{ item.cover | relative_url }}" style="border-radius: 10px; overflow: hidden;">
    <div class="w-100 rounded-lg" style="background-color: rgba(255,255,255,0.8);backdrop-filter: blur(2px);">
        <div class="d-flex align-items-start flex-column py-3 px-4">
            <div class="mb-auto"></div>
            <div>
                <h6 class="mt-0 mb-1">{{ item.title }}</h6>
                <p class="mt-0 mb-0">{% include widgets/author_list.html authors=item.authors %}</p>
                <p class="mt-0 mb-0">{{item.pub_pre}}<i><strong>{{ item.pub }}</strong></i>{{ item.pub_post }} <b>{{ item.pub_date }}</b> <small>{{ item.pub_last }}</small>
                    {% if item.dimensions %}
                    <span style="display: inline-block; margin-left: 10px; margin-right: 10px; vertical-align: text-bottom;">
                    <span class="__dimensions_badge_embed__" data-doi="{{ item.dimensions | replace:'https://doi.org/', '' }}" data-style="small_rectangle"></span>
                    </span>
                    {% endif %}
                </p>
                </p>
                <!-- <p class="mt-0 mb-0 small">{{ item.abstract }}</p> -->
                
                <p class="pb-0 mb-0 lh-125 text-muted abstract-links">
                                {% for link in item.links %}
                                {% assign key = link[0] %}
                                {% assign url = link[1] %}

                                {% if key == "pdf" %}
                                 <a target="_blank" href="{{ url }}" style="margin-right: 5px;">
                                 <i class="fa-solid fa-file-pdf" style="color:inherit;"></i>
                                 </a>
                                      {% elsif key == "doi" %}
                                       <a target="_blank" href="{{ url }}" style="margin-right: 5px;">
                                       <i class="ai ai-doi" style="font-size: 1.2em; color: inherit;"></i>
                                       </a>
                                 {% else %}
                                  <a target="_blank" href="{{ url }}" style="margin-right: 5px;">[{{ key }}]</a>
                                 {% endif %}
                                 {% endfor %}

                </p>
            </div>
        </div>
    </div>

</div>
