<div class="row mt-3 mb-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white rounded-lg">
            <div class="card-body p-3 p-md-4"> 
               <!-- Keywords Row -->
                {% if site.data.profile.keywords %}
                <div class="row">
                    <div class="col text-center px-3">
                        <p class="keywords mt-0  mb-0">
                            {% for keyword in site.data.profile.keywords %}
                                {{ keyword }}
                            {% unless forloop.last %}
                     <img src="/assets/micromole_favicon.svg" alt="Icon" width="16" height="16">
                {% endunless %}
            {% endfor %}
                        </p>
                    </div>
                </div>
                {% endif %}
                <hr />
                <!-- Logos Row -->
                <div class="row mb-3">
                    <div class="col">
                        <div class="d-flex justify-content-center flex-wrap">
                            {% for logo in site.data.profile.round_logos %}
                                <div class="mx-2">
                                    <img src="{{ logo | relative_url }}" 
                                         class="rounded-circle img-fluid" 
                                         style="height: 72px; width: 72px;" 
                                         alt="Circular Image">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

               <!-- Social Links Row -->
	<div class="row">
    		<div class="col text-center">
      			  {% assign social_links = "" | split: "," %}

       			 {% assign social_links = social_links | push: '<a class="no-break" href="mailto:' | append: site.data.profile.email | append: '"><i 			class="fas fa-envelope"></i> Mail</a>' %}

       				 {% if site.data.profile.gscholar %}
          			  {%- assign gscholar_url = site.data.profile.gscholar contains 'scholar.google' ? site.data.profile.gscholar : 					'https://scholar.google.com/citations?user=' | append: site.data.profile.gscholar -%}
          			  {% assign social_links = social_links | push: '<a class="no-break" target="_blank" href="' | append: gscholar_url | append: '"><i class="fab fa-google"></i> Google Scholar</a>' %}
        {% endif %}

        {% if site.data.profile.researchgate %}
            {% assign social_links = social_links | push: '<a class="no-break" target="_blank" href="https://www.researchgate.net/profile/' | append: site.data.profile.researchgate | append: '"><i class="fa-brands fa-researchgate"></i> ResearchGate</a>' %}
        {% endif %}

        {% if site.data.profile.twitter %}
            {% assign social_links = social_links | push: '<a class="no-break" target="_blank" href="https://twitter.com/' | append: site.data.profile.twitter | append: '"><i class="fab fa-twitter"></i> Twitter</a>' %}
        {% endif %}

        {% if site.data.profile.bluesky %}
            {% assign social_links = social_links | push: '<a class="no-break" target="_blank" href="https://bsky.app/profile/' | append: site.data.profile.bluesky | append: '"><i class="fab fa-bluesky"></i> Bluesky</a>' %}
        {% endif %}

        {% if site.data.profile.linkedin %}
            {% assign social_links = social_links | push: '<a class="no-break" target="_blank" href="https://www.linkedin.com/in/' | append: site.data.profile.linkedin | append: '"><i class="fab fa-linkedin"></i> LinkedIn</a>' %}
        {% endif %}

        {% if site.data.profile.orcid %}
            {% assign social_links = social_links | push: '<a class="no-break" target="_blank" href="https://orcid.org/' | append: site.data.profile.orcid | append: '"><i class="fab fa-orcid"></i> ORCID</a>' %}
        {% endif %}

        {% if site.data.profile.github %}
            {% assign social_links = social_links | push: '<a class="no-break" target="_blank" href="https://github.com/' | append: site.data.profile.github | append: '"><i class="fab fa-github"></i> GitHub</a>' %}
        {% endif %}

        <!-- Print social links with pipes, using inline spacing -->
        <div class="social-links">
            {% for link in social_links %}
                <span>{{ link }}</span> {% unless forloop.last %} <span> | </span> {% endunless %}
            {% endfor %}

                        
                    </div>
                </div>

            </div>
        </div>        
    </div>
</div>
